In [1]:
from modules.utility import get_csv_data, save_csv
from modules.prepare_data import PrepareData

cleaned_df = get_csv_data(path='./data/AdsmartABdata.csv', version='v2.0')

Reading data from dvc source....
Reading completed, data saved as ./data/AdsmartABdata.csv

In [2]:
prep_data = PrepareData(cleaned_df)
prep_data.encode_cat(cols=['experiment', 'date', 'hour', 'device_make', 'browser'])
prep_data.drop_id_col(id_col=['auction_id'])
prep_data.get_day()
brwser_df, platform_df = prep_data.subset()

Encoding categorical columns...
Encoding categorical columns completed
Dropping id_column...
Dropping id_column completed
Retrieving day of the week from date...
Retrieval of day from date completed
Subsetting for browser df...
Subsetting for platform_os df...
Subsetting completed and data returned in this order:
browser_df, platform_df

In [3]:
brwser_df

      experiment  day  hour  device_make  browser  answer
0              1    3     2            4        2       0
1              1    3    16           13        1       1
2              1    3     8           13        1       0
3              0    3     4           43        4       1
4              0    3    15           13        1       0
...          ...  ...   ...          ...      ...     ...
1238           1    3    21           13        1       1
1239           1    3     1           13        1       1
1240           0    3     7           13        1       0
1241           0    3    16           13        1       0
1242           1    3     4           13        1       0

[1243 rows x 6 columns]